<hr/>
  <div class="row">
      <h3>Near by</h3>
      <%# for room in @room.nearbys(10).max(6).shuffle %>
      <% for room in @room.nearbys(10) %>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading preview">
                <%= image_tag room.cover_photo(:medium) %>
              </div>
              <div class="panel-body">
                <%= link_to room.listing_name, room %><br/>
                <%= room.address %>
                (<%= pluralize(room.distance.round(2), "km") %> away)
              </div>
            </div>
          </div>
      <% end %>
    </div>
  <hr/>